

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

    text-align: center;
    
}

h1{
    color: #333;
}
p{
    color: #666;
}
button{
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}